<!DOCTYPE html>
<html>
<head>
	<title>Passport app</title>
</head>
<body>
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		{{/each}}
	{{/if}}
	{{{body}}}
</body>
</html>