<form method="post" action="/register">
	<div>
		<label>Name</label>
		<input type="text" name="name" placeholder="Name" required>
	</div>
	<div>
		<label>Username</label>
		<input type="text" name="username" placeholder="Username" required>
	</div>
	<div>
		<label>Email</label>
		<input type="email" name="email" placeholder="Email" required>
	</div>
	<div>
		<label>Password</label>
		<input type="password" name="password" required>
	</div>
	<div>
		<label>Password Confirmation</label>
		<input type="password" name="password2" required>
	</div>
	<button type="submit">Register</button>
	<br>
	Have an account? <a href="/login">Log In</a>
</form>